.select-block {
  position: relative;
}

.select-block + .input-block{
  margin-top: 1.4rem;
}

.select-block label {
  font-size: 1.4rem;
}

.select-block select {
  width: 100%;
  height: 4.6rem;
  margin-top: 1.4rem;
  border: 1px solid var(--color-line-in-white); 
  border-radius: 0.6rem;
  outline: 0;
  padding: 0 1.6rem;
  color: #696969; 
  background: white;
  font: 1.4rem Roboto;
  box-shadow: var(--panel-shadow);
}