:root{
    font-size: 62.5%;

    --color-background: #F0F0F7;
    /* --color-background: #223a48; */
    --color-primary: #294251;
    --color-primary-light: #f0f2fd;
    --color-primary-dark: #0f212f;
    --color-secundary: #694af3 100%;
    --color-secundary-dark: ##9F47DF;
    --color-input-background: #F8F8FC;
    --color-line-in-white: #E6E6F0;
    --color-link-menu: #FFFFFF;
    --color-base: #FFFFFF;
    --color-button-text: #000000;
    --color-button: #b09fef;
    --panel-shadow: 0 1px 3px 0 rgba(7, 7, 7, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body, #root {
    height: 100vh; /* Faz com que a página ocupe sempre a altura total da tela */
}


/* .container {
    width: 100%;
    height: calc(100vh - 7.1rem);

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-background);

} */